<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form>
        <div class="form-group">
            <label for="yourName">Your Name</label>
            <input type="yourName" class="form-input" id="yourName" placeholder="Your Name">
        </div>

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-input" id="inputEmail" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="companyName" class="form-input" id="companyName" placeholder="Company Name">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="number" class="form-input" id="phoneNumber" placeholder="Phone Number">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>