<section class="hero is-bold is-large is-fullheight">
    <div class="container1">
        <h1 class="title">
            UNDER CONSTRUCTION
        </h1>
        <h2 class="subtitle">
            Have a home improvement project but don't know where to start? We've got your back!
        </h2>
        <div class="irrelevant">
            <div class="selectors">
                <select class="select" id="city">
                    <option disabled selected>In which city are you located?</option>
                    <option value="Cleveland">Cleveland</option>
                    <option value="Pittsburgh">Pittsburgh</option>
                </select>
                <select name="state" id="state" class="select">
                    <option disabled selected>What state are you in?</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                </select>
                <select id="project" class="select">
                    <option disabled selected>What is your project?</option>
                    <option value="Kitchen">Kitchen</option>
                    <option value="Bathroom">Bathroom</option>
                    <option value="Bedroom">Bedroom</option>
                </select>
                <div id="results-button">
                    <a href="/results"><button id="submission">Get Help!</button></a>
                    <a href="/newcontractor"><button id="affiliate">Want to be an affiliate?</button></a>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div>

            </div>
        </div>
    </div>
    </div>
    </nav>
    </form>
    <a><button id="incrementer"></button></a>
</section>

<div class="modal" id="validate">

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Not so fast!</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>You need to make sure you select a city, state, and project.</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" id="close-modal">Got it!</button>
        </footer>
    </div>
</div>