    <section class="hero is-warning hero is-bold is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    UNDER CONSTRUCTION
                </h1>
                <h2 class="subtitle">
                    Have a home improvement project but don't know where to start? We've got your back!
                </h2>
            </div>
            <nav class="navbar" role="navigation" aria-label="dropdown navigation">
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Where are you located?
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    Cleveland
                                </a>
                                <a class="navbar-item">
                                    Pittsburgh
                                </a>
                                <a class="navbar-item">
                                    Brussels
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="button">BUTTON</button>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            What is your project?
                        </a>

                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item">
                                Kitchen
                            </a>
                            <a class="navbar-item">
                                Bathroom
                            </a>
                            <a class="navbar-item">
                                Basement
                            </a>
                            <a class="navbar-item">
                                Living room
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </div>
        </nav>
        <!-- <form action="">
            <p><a>Want to be an affiliate?</a></p>
            <select name="location" id="locate">
                <option>Cleveland</option>>
                <option>Pittsburgh</option>
                <option>Brussels</option>
            </select>
            <select name="project" id="project">
                <option>KITCHEN</option>
                <option>BATHROOM</option>
                <option>LIVING ROOM</option>
            </select> -->
        <p><a href="results.html">Find your project information.</a></p>
        </form>
    </section>