<div class="lender-page">
    <h1 class="lenders">Here are the lenders who can help you!</h1>
    {{#each lenders}}
    <div class="values">
        <h3>{{dataValues.company}}</h3>
            <p>{{dataValues.website}}</p>
            <p>{{dataValues.email}}</p>
            <p>{{dataValues.phone}}</p>
    </div>
    {{/each}}
    <div class="hmBtn">
        <a href="/"><button id="home">Go home</button></a>
    </div>
    <br>
</div>