<div class="lender-page">
    <h1 class="lenders">Here are the lenders who can help you!</h1>
    {{#each lenders}}
    <p class="values">{{dataValues.company}}</p>
    {{/each}}
    <div class="hmBtn">
        <a href="/"><button id="home">Go home</button></a>
    </div>
    <br>
</div>