<H1>Want to get on our list to be an affiliated contractor?</H1>
<p>Fill out the forms below!</p>
<div class="container-fluid">
<form>
  <div class="form-row m-1">
    <div class="form-group col-md-6">
      <label for="inputCompany">Company name</label>
      <input type="text" class="form-control valid" id="inputCompany" placeholder="Company">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail" >Email</label>
      <input type="email" class="form-control valid" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="inputCity">City</label>
    <input type="text" class="form-control valid" id="inputCity" placeholder="Cleveland">
  </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Ohio</option>
        <option>Pennsylvania</option>
      </select>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPhone valid">Phone</label>
      <input type="text" class="form-control" id="inputPhone">
    </div>
  </div>
</form>
</div>
<div class="container">
  <button type="submit" class="btn btn-primary m-auto" id="submit-contractor">Submit</button>
</div>
<div  class="container d-none">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <p id="posted" class="d-none">Please give us a few days to review your application. We will email you
                to confirm your affliate status.</p>
                <br>
            <a href="/"><button id="go-home"class="btn m-auto">Back</button></a>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<div class="modal" id="validated">

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Existentialism</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>You have a lot of questions to ask yourself. What is my company's name?
              What city and state am I in? What is my phone number? Do I have an email,
              and if so, is it my firstname.lastname@gmail.com? And then we can talk about
              being an affiliate.
            </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" id="close-modal2">Sorry...</button>
        </footer>
    </div>
</div>