<H1>Want to get on our list to be an affiliated contractor?</H1>
<p>Fill out the forms below!</p>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCompany">Company name</label>
      <input type="text" class="form-control" id="inputCompany" placeholder="Company">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Cleveland">
  </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Ohio</option>
        <option>Pennsylvania</option>
      </select>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPhone">Phone</label>
      <input type="text" class="form-control" id="inputPhone">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="submit-contractor">Submit</button>
</form>

<div  class="container d-none">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <p id="posted" class="d-none">Please give us a few days to review your application. We will email you
                to confirm your affliate status.</p>
                <br>
            <a href="/"><button id="go-home"class="btn m-auto">Back</button></a>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
