<h1>So you are remodeling your...</h1>
    {{project}}
    <br>
    {{#each contractors}}
    <p>{{company}}</p>
    <ol>
        <li>{{email}}</li>
        <li>{{phone}}</li>
    </ol>
    {{/each}}
    <h3>Need a lender</h3>
    <a href="/lenders"><button id="lenders">Get lenders</button></a>
    <a><button id="home">Go home</button></a>
