<h1 class="results">So you are remodeling your...</h1>
<h2>{{project}}</h2>
<br>
{{#each contractors}}
<div class="resultsStyle">
    <p class="results2">{{dataValues.company}}</p>
    <ol>
        <li class="email">{{dataValues.email}}</li>
        <li class="phone">{{dataValues.phone}}</li>
    </ol>
</div>
{{/each}}
<div id="lender-button">
    <div class="lender">
        <h3 class="lender-style">Need a lender?</h3>
        <class="buttons2">
            </class>
            <a href="/lenders"><button id="lenders">Get Lenders</button></a>
            <a><button id="home">Go home</button></a>
    </div>

</div>
</div>