<div class="results-page">
    <h1 class="remodel">So you are remodeling your...</h1>
    <div>
        <p class="project-style" id="projectId">{{project}}</p>
        <p class="remodel-style" id="projectResults">

        </p>
    </div>
    <br>
    {{#each contractors}}

    <div class="resultsStyle">
        <p>{{company}}</p>
        <ol>
            <li>{{email}}</li>
            <li>{{phone}}</li>
        </ol>

    </div>
    {{/each}}
    <div id="lender-button">
        <div class="lender">
            <h3 class="lender-style">Need a lender?</h3>
            <class="buttons2">
                </class>
                <a href="/lenders"><button id="lenders">Get Lenders</button></a>
                <a href="/"><button id="home">Go home</button></a>
        </div>

    </div>
</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="buttons.js"></script>